<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row mt-4">

        <div class="col-6">
            <div class="card-info">
                <div class="row">
                    <div class="col-8">
                        <p class="texto-card">Total de produtos inventariados</p>
                        <p class="numero-card">80</p>
                    </div>
                    <div class="col-4">
                        <mat-progress-spinner class="example-margin mx-auto color-spinner"
                         mode="determinate" value="79"></mat-progress-spinner>       
                         <p class="info-spinner">79/150</p>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>