<div class="sidebar">
    <ul>
        <li routerlink="/home">
            <a>
                <span class="icon"><mat-icon>home</mat-icon></span>
                <span class="text">HOME</span>
            </a>
        </li>
        <li >
            <a routerlink="/item">
                <span class="icon"><mat-icon>inventory_2</mat-icon></span>
                <span class="text">ITEM</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><mat-icon>person</mat-icon></span>
                <span class="text">FUNCIONARIOS</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><mat-icon>shopping_bag</mat-icon></span>
                <span class="text">FORNECEDORES</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><mat-icon>logout</mat-icon></span>
                <span class="text">SAIR</span>
            </a>
        </li>
    </ul>
</div>
