<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form action="" >
        <h1 class="titulo">FriControl</h1>
        <h2 class="subtitulo">Controle de inventário</h2>

        <input [(ngModel)]="email" [ngModelOptions] = "{standalone: true}" type="email" class="input-form" placeholder="Digite o email" required>
        <input [(ngModel)]="senha" [ngModelOptions] = "{standalone: true}" type="password" class="input-form" placeholder="Digite sua senha" required>

        <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
    </form>
    <p class="footer"> © 2025 - Desenvolvido por Jean Victor </p>
</div>